.container {
  text-align: center;
}
.productTable {
  margin: auto;
  width: 600px;
  margin-top: 65px;
  padding: 30px 0;
  border: 1px solid rgb(152, 236, 191);
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgb(161, 255, 224);
}
.descriptionInputs {
  display: flex;
  margin-bottom: 5px;
}
.textProduct {
  margin: 0 232px 0 60px;
}
.textAmount {
  margin-right: 20px;
}
input {
  height: 25px;
  padding: 3px 5px;
  outline: none;
  border: none;
  border: 1px solid rgb(88, 88, 88);
  border-radius: 3px;
  margin-right: 5px;
  font-size: 17px;
}
.productInput {
  width: 280px;
}
.productInput::after {
  content: attr(data-name);
}
.amountInput {
  width: 50px;
}
.priceInput {
  width: 70px;
  margin-right: 20px;
}
.addBtn {
  height: 35px;
  width: 40px;
  outline: none;
  border: none;
  background-color: rgb(123, 238, 209);
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  color: #555;
}
.addBtn:hover {
  background-color: rgb(88, 236, 199);
  color: white;
}
.addBtn:active {
  background-color: rgb(87, 200, 172);
  color: white;
}
.table {
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 85%;
}
.score {
  padding-top: 10px;
  margin: auto;
  width: 85%;
  font-size: 25px;
}
.productInfoContainer {
  border: 1px solid rgb(88, 236, 199);
  margin-bottom: 5px;
  border-radius: 5px;
}
.productInfo {
  display: grid;
  grid-template-columns: 10% 51% 7% 25%;
  margin: 5px 0 5px 0;
  font-size: 18px;
}
.styleId {
  border-right: 1px solid rgb(88, 236, 199);
  font-size: 12px;
}
.styleProduct {
  border-right: 1px solid rgb(88, 236, 199);
  font-size: 20px;
}
.styleAmount {
  border-right: 1px solid rgb(88, 236, 199);
}
.editDeleteBtns {
  padding-bottom: 20px;
}
.editDeleteBtns button {
  width: 60px;
  height: 25px;
  outline: none;
  border: none;
  margin: 0 5px;
  border-radius: 2px;
  cursor: pointer;
}
.editDeleteBtns button:nth-child(1) {
  background-color: rgb(123, 238, 209);
}
.editDeleteBtns button:hover:nth-child(1) {
  background-color: rgb(88, 236, 199);
  color: white;
}
.editDeleteBtns button:nth-child(2) {
  background-color: rgb(243, 99, 107);
}
.editDeleteBtns button:hover:nth-child(2) {
  background-color: rgb(180, 48, 54);
  color: white;
}
.editProductInput {
  margin-left: -55px;
  width: 280px;
  outline: none;
  border: none;
}
.editAmountInput {
  width: 50px;
  outline: none;
  border: none;
}
.editPriceInput {
  width: 70px;
  outline: none;
  border: none;
}
